/********** DESKTOP **********/
@media  (min-width: 1024px) {
    .container {
        width: 75%;
    }

    iframe {
        width: 60%; 
        height:400px;  
        border:1px solid #979797;
    }
    .drop-down-address {
        display: none;
        visibility: hidden;
    }
}
/********** MOBILE **********/
@media (min-width: 320px) and (max-width: 1023px) {
    .address-map {
        display: none;
    }
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url("styles/HelveticaNeue_Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}
main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.address-map {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0;
}

.address-map:last-child {
    margin-bottom: 20px;
}

.address {
    margin: 0 20px ;
}

.address p {
    margin: 10px 0;
}

a[href*="tel"] {
    text-decoration: none;
    color: #000;
}

a[href*="tel"]:hover, a[href*="tel"]:active {
    color: #838383;
}