@font-face {
    font-family: "Helvetica Neue Light";
    src: url("styles/HelveticaNeue_Light.ttf");
}

/********** DESKTOP **********/

@media (min-width: 1024px) {
    * {
        font-size: 13px;
    }
    .container {
        width: 75%;
    }
    iframe {
        width: 60%;
        height: 400px;
        border: 1px solid #979797;
        margin-right: 20px;
    }
    .drop-down-address {
        display: none;
    }
    .address-map {
        flex-direction: row-reverse;
    }
    .address p {
        margin: 10px 0;
    }
}

/********** MOBILE **********/

@media (min-width: 320px) and (max-width: 1023px) {
    * {
        font-size: 14px;
    }
    div.address-map {
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .container {
        width: 85%;
        margin: 10px 0;
        font-size: 15px;
    }
    .shop-name {
        display: none;
    }
    iframe {
        width: 100%;
        min-height: 120px;
        height: 40vh;
        border: 1px solid #979797;
    }
    .address {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        width: 90%;
    }

    .address p {
        margin: 15px 10px 0 10px;
        min-width: 160px;
    }

    .drop-down-address {
        display: flex;
        width: 90%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
        padding: 15px 0 0 10px;
        justify-content: space-between;
    }
    .drop-down-address p:last-child {
        color:  rgba(0, 0, 0, 0.4);
    }
    .drop-down-address:hover {
        cursor: pointer;
    }
}

/***** MAIN *********/

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-map {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 0;
}

.address-map:last-child {
    margin-bottom: 20px;
}

.address a[href*="tel"] {
    text-decoration: none;
    color: #000;
}

.address a[href*="tel"]:hover,
a[href*="tel"]:active {
    color: #838383;
}
